body {
font-family: Menlo, sans-serif;
background: white;
}
h1 {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}

#main {
  width: 396px;
  margin: auto;
  border: 2px solid black;
}

.row {
  display: block;
  width: 396px;
  height: 44px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.tile {
  display: block;
  width: 40px;
  height: 40px;
  float: left;
  border-style: outset;
  background: rgba(150, 150, 150, 0.7);

  border: 2px solid black;
  text-align: center;

}

.tile p {
  font-weight: bold;
  font-size: 24px;
  line-height: 0;
  margin-top: 20px;
  
  
}

.tile.explored {
  border-style: inset;
  background: rgba(210, 210, 210, .5);

}

.tile.flagged p {
  font-size: 30px;
  
  color: tomato;
}

.modal {
  display: none;
}

.modal.is-active {
  display: block;
}

.modal-content {
  position: absolute;
  z-index: 1000;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 50px 0;
  margin-left: -200px;
  transform: translateY(-50%);
  background: rgba(225, 225, 225, 0.8);

  border: 5px solid black;
  border-radius: 7px;
}

.modal-button {
  z-index: 1001;
  background: tomato;
  color: white;
  font-family: Menlo;
  font-size: 20px;
  width: 140px;
  height: 50px;
  border-style: none;
  font-weight: 400;
  display: inline-block;
}
